apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
images:
- name: 940168446867.dkr.ecr.eu-west-3.amazonaws.com/basic-django-backend
  newName: 940168446867.dkr.ecr.eu-west-3.amazonaws.com/basic-django-backend
  newTag: 4fb33dbb
resources:
- ../../base
patchesStrategicMerge:
- back-deployment-patch.yaml
- back-service-patch.yaml
